<body class="body-database">
  <%- include('../partials/navbar') %>
    <%- include('../partials/sidebar') %>
      <!-- Content -->
      <div class="col-md-10 p-5 pt-3">
        <h3 class="content-title"><i class="fa-solid fa-database mr-2" style="color: #000000;"><span
              style="margin-left: 10px;"></span></i><%= assets.name %></h3>
        <hr>

        <div class="data-asset" style="margin-left: 10px;">
          <dl class="row">
            <dt class="col-sm-3">Asset Type</dt>
            <dd class="col-sm-9"><%= assets.type %></dd>

            <dt class="col-sm-3">Asset Address</dt>
            <dd class="col-sm-9"><%= assets.address %></dd>

            <dt class="col-sm-3">Asset Description</dt>
            <dd class="col-sm-9"><%= assets.description %></dd>

            <dt class="col-sm-3">Asset Status</dt>
            <dd class="col-sm-9"><%= assets.is_active %></dd>

            <dt class="col-sm-3">Asset Photo</dt>
            <dd class="col-sm-9">
              <img src="<%= assets.photos %>" class="rounded float-start" alt="">
            </dd>
          </dl>
          <button class="btn btn-secondary mx-auto" id="backAssetDetailButton">Back</button>
      </div>

</body>
<script>

</script>

</html>